@tailwind base;
@tailwind components;
@tailwind utilities;

/* Goodly Font */

@font-face {
  font-family: "Goodly";
  src: url("/img/goodly-font/goodly-light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Goodly";
  src: url("/img/goodly-font/goodly-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Goodly";
  src: url("/img/goodly-font/goodly-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Goodly";
  src: url("/img/goodly-font/goodly-bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Goodly";
  src: url("/img/goodly-font/goodly-extrabold.otf") format("opentype");
  font-weight: 800;
}

.continuousSwiper .swiper-wrapper{
  transition-timing-function: linear !important;
}

html{
scroll-behavior:smooth;
}